<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>
  
  <!-- 별칭 -->
  <typeAliases>
  	<typeAlias type="com.withmong.model.User" alias="User"/>
  	<typeAlias type="com.withmong.model.Message" alias="Message"/>
  	<typeAlias type="com.withmong.model.Product" alias="Product"/>
  	<typeAlias type="com.withmong.model.Category" alias="Category"/>
  	<typeAlias type="com.withmong.model.ProductReview" alias="ProductReview"/>
  	<typeAlias type="com.withmong.model.Report" alias="Report"/>
  	<typeAlias type="com.withmong.model.Notice" alias="Notice"/> 	
  	<typeAlias type="com.withmong.model.Location" alias="Location"/> 	
  	<typeAlias type="com.withmong.model.Order" alias="Order"/> 	
  	<typeAlias type="com.withmong.model.Location" alias="Location"/>
  	<typeAlias type="com.withmong.model.Request" alias="Request"/>	
  	<typeAlias type="com.withmong.form.BreadcrumbsForm" alias="Crumbs"/>	
  </typeAliases>
  
  <mappers>
    <mapper resource="mybatis/mappers/user.xml"/>
    <mapper resource="mybatis/mappers/message.xml"/>
    <mapper resource="mybatis/mappers/product.xml"/>
    <mapper resource="mybatis/mappers/manager.xml"/>
    <mapper resource="mybatis/mappers/board.xml"/>
  </mappers>
  
</configuration>